.list-group a{
    color: #000;
    text-decoration: none;
    font-size: 20px;
    font-weight: 500;
    display: flex;
    padding: 10px 15px;
    background-color: #99c3ee;
    border-bottom: 1px solid #e9ecef;
    transition: 0.3s;   
    margin-bottom: 5px;
    cursor: pointer;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    position: relative;
    width: 250px;
    height: 100px;
}
